body {
    font-family: 'Tangerine', serif;
    font-size: 12px;
}

#intro {
    color: #aaaaaa;
    text-shadow: 6px 6px 6px #cccccc
}

#house-name {
    margin-left: 20%;
    margin-top: -40px;
}

#page-title {
    color: dimgrey;
    height: 100%;
    width: 100%;
    font-weight: bold;
    margin: 20px 0;
    font-size: 40px;
    text-shadow: 3px 3px 3px #aaaaaa;
}

/* carousel */
#carousel-frame {
    margin-bottom: 20px;
}

.carousel-inner img {
    /* make the image fully responsive */
    width: 100%;
    height: 100%;
}

/* override some standard bootstrap carousel css to make indicators thumbnails */
#image-carousel {
    margin: 20px auto;
    width: 100%;
}

#image-carousel .carousel-indicators {
    margin: 10px;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

#image-carousel .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    width: 15%;
    max-width: 15%;
    height: auto;
}

#image-carousel .carousel-indicators li img.img-thumbnail {
    display: block;
    opacity: 0.5;
}

#image-carousel .carousel-indicators li.active img {
    opacity: 1;
}

#image-carousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

#image-carousel .carousel-outer {
    position: relative;
}

/* accordion adjustments */
.ui-accordion .ui-accordion-content {
    padding-right: 1em;
    padding-left: 1em;
}

#accordion h3 {
    font-family: 'Tangerine', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 3px .5em;
}

#accordion h3 ul {
    display: none;
}

#accordion h3 ul li {
    display: inline;
}

#accordion h3 ul li::after {
    display: inline-block;
    content: "•";
    padding: 0px 5px;
}

#accordion h3 ul li:last-of-type:after {
    content: "";
}

/* card adjustments */
.card {
    min-width: 220px;
    margin-right: .5%;
    margin-left: .5%;
    margin-bottom: 5px;
    display: inline-flex;
}

.card ul {
    margin-left: 10px;
}

.card table {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25rem;
}

#interior .card {
    width: 30%;
}

#price-list .card {
    width: 49%
}

#occupancy-calendar iframe {
    width: 97%;
    min-height: 1008px;
    height: 1008px;
    border: none;
}

#footer {
    margin-top: 20px;
}

#imprint {
    margin-bottom: 20px;
}

#footer, #imprint {
    font-family: 'Arial', serif;
    padding: 20px 30px;
    background-color: #cccccc;
}

#footer h1, #footer h2, #footer h3 {
    font-family: 'Tangerine', serif;
}

/* extra media query for iframe rendering */
@media (min-width: 521px) {
    #occupancy-calendar iframe {
        width: 100%;
        min-height: 690px;
        height: 690px;
    }
}

/* small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #page-title {
        font-size: 60px;
        text-shadow: 3px 3px 3px #aaaaaa;
    }

    #house-name {
        margin-top: -60px;
    }

    #accordion h3 ul {
        display: none;
    }
}

/* extra media query for iframe rendering */
@media (min-width: 641px) {

    #occupancy-calendar iframe {
        min-height: 531px;
        height: 531px;
    }
}

/* medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #page-title {
        font-size: 90px;
        text-shadow: 6px 6px 6px #aaaaaa;
    }

    #house-name {
        margin-top: -90px;
    }

    #accordion h3 ul {
        font-size: 18px;
        font-family: 'Arial', serif;
        font-weight: bold;
        color: #999999;
        display: inline-block;
        vertical-align: middle;
        margin: 0.5rem 0.5rem 0;
        float: right;
    }
}

/* extra media query for iframe rendering */
@media (min-width: 907px) {

    #occupancy-calendar iframe {
        min-height: 377px;
        height: 377px;
    }
}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #page-title {
        font-size: 120px;
        text-shadow: 9px 9px 9px #aaaaaa;
    }

    #house-name {
        margin-top: -120px;
    }

    #accordion h3 ul {
        font-size: 18px;
        font-family: 'Arial', serif;
        font-weight: bold;
        color: #999999;
        display: inline-block;
        vertical-align: middle;
        margin: 0.5rem 0.5rem 0;
        float: right;
    }
}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
