body {
    font-family: 'Tangerine', serif;
    font-size: 12px;
}

#intro {
    color: #aaaaaa;
    text-shadow: 6px 6px 6px #cccccc
}

#house-name {
    margin-left: 20%;
    /* attributes to override in media queries */
    margin-top: -9%;
}

#page-title {
    color: dimgrey;
    height: 100%;
    width: 100%;
    font-weight: bold;
    margin: 20px 0;

    /* attributes to override in media queries */
    font-size: 40px;
    text-shadow: 3px 3px 3px #aaaaaa;
}


/* carousel */
#carousel-frame {
    margin-bottom: 20px;
}

.carousel-inner img {
    /* make the image fully responsive */
    width: 100%;
    height: 100%;
}

/* override some standard bootstrap carousel css to make indicators thumbnails */
#image-carousel {
    margin: 20px auto;
    width: 100%;
}
#image-carousel .carousel-indicators {
    margin: 10px;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#image-carousel .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    width: 15%;
    max-width: 15%;
    height: auto;
}
#image-carousel .carousel-indicators li img.img-thumbnail {
    display: block;
    opacity: 0.5;
}
#image-carousel .carousel-indicators li.active img {
    opacity: 1;
}
#image-carousel .carousel-indicators li:hover img {
    opacity: 0.75;
}
#image-carousel .carousel-outer {
    position: relative;
}

/* accordion adjustments */
#accordion h3 {
    font-family: 'Tangerine', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 3px .5em;
}

#accordion h3 ul {
    display: none;
}

#accordion h3 ul li {
    display: inline;
}

#accordion h3 ul li::after {
    display: inline-block;
    content: "•";
    padding: 0px 5px;
}

#accordion h3 ul li:last-of-type:after {
    content: "";
}

/* card adjustments */
#interior .card {
    width: 24%;
    min-width: 280px;
    margin-right: .5%;
    margin-left: .5%;
    margin-bottom: 5px;
    display: inline-flex;
}

/* small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #page-title {
        font-size: 60px;
        text-shadow: 3px 3px 3px #aaaaaa;
    }

    #house-name {
        margin-top: -12%;
    }

    #accordion h3 ul {
        display: none;
    }
}

/* medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #page-title {
        font-size: 90px;
        text-shadow: 6px 6px 6px #aaaaaa;
    }

    #house-name {
        margin-top: -14%;
    }

    #accordion h3 ul {
        font-size: 18px;
        font-family: 'Arial', serif;
        font-weight: bold;
        color: #999;
        display: inline-block;
        vertical-align: middle;
        margin: 0.5rem 0.5rem 0;
        float: right;
    }
}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #page-title {
        font-size: 120px;
        text-shadow: 9px 9px 9px #aaaaaa;
    }

    #house-name {
        margin-top: -13%;
    }

    #accordion h3 ul {
        font-size: 18px;
        font-family: 'Arial', serif;
        font-weight: bold;
        color: #999;
        display: inline-block;
        vertical-align: middle;
        margin: 0.5rem 0.5rem 0;
        float: right;
    }
}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #house-name {
        margin-top: -11%;
    }
}
